<div class="row col-12">
    <div class="row">
        <div class="col-12">
            <div class="example-button-row">
                <button mat-flat-button class="" color="primary" (click)="searchBooking()"> Filter</button>

            </div>
        </div>
    </div>
    <div class="row col-12">
        <div class="table-container table">
            <table mat-table [dataSource]="dataSource">
                <ng-component matColumnDef="no">
                    <th mat-header-cell class="td-number" *matHeaderCellDef="">No</th>
                    <td mat-cell class="td-number" *matCellDef="let i=index">{{i+1}}</td>
                </ng-component>
                <ng-component matColumnDef="date">
                    <th mat-header-cell class="td-text" *matHeaderCellDef="">Date</th>
                    <td mat-cell class="td-text" *matCellDef="let element">{{element.bkDate|date:'dd/MM/yyyy '}}</td>
                </ng-component>
                <!-- <ng-component matColumnDef="visitno">
                    <th mat-header-cell class="td-text" *matHeaderCellDef="">Visit No</th>
                    <td mat-cell class="td-text" *matCellDef="let element">{{element.bookingId}}</td>
                </ng-component> -->
                <ng-component matColumnDef="regno">
                    <th mat-header-cell class="td-text" *matHeaderCellDef="">Reg No</th>
                    <td mat-cell class="td-text" *matCellDef="let element">{{element.regNo}}</td>
                </ng-component>
                <ng-component matColumnDef="patient">
                    <th mat-header-cell class="td-text" *matHeaderCellDef="">Patient</th>
                    <td mat-cell class="td-text" *matCellDef="let element">{{element.patientName}}</td>
                </ng-component>
                <ng-component matColumnDef="doctor">
                    <th mat-header-cell class="td-text" *matHeaderCellDef="">Doctor</th>
                    <td mat-cell class="td-text" *matCellDef="let element">{{element.doctorName}}</td>
                </ng-component>
                <!-- <ng-component matColumnDef="phone">
                    <th mat-header-cell class="td-text" *matHeaderCellDef="">Phone No</th>
                    <td mat-cell class="td-text" *matCellDef="let element">{{element.bkPhone}}</td>
                </ng-component>
                <ng-component matColumnDef="serialno">
                    <th mat-header-cell class="td-number" *matHeaderCellDef="">Serial No</th>
                    <td mat-cell class="td-number" *matCellDef="let element">{{element.bkSerialNo}}</td>
                </ng-component> -->
                <ng-component matColumnDef="wl">
                    <th mat-header-cell class="td-number" *matHeaderCellDef="">Status</th>
                    <td mat-cell class="td-number" *matCellDef="let element">{{element.bstatus}}</td>
                </ng-component>
                <ng-component matColumnDef="reg">
                    <th mat-header-cell class="td-object" *matHeaderCellDef="">Action</th>
                    <td mat-cell class="td-object" *matCellDef="let element">
                        <div class="example-button-row">
                            <button mat-raised-button color="primary" class="register-btn"
                                (click)="vitalBooking(element)">Check</button>
                        </div>
                    </td>
                </ng-component>
                <tr mat-header-row *matHeaderRowDef="displayedColumn;sticky:true"></tr>
                <tr mat-row *matRowDef="let row;columns:displayedColumn"></tr>
            </table>
        </div>
    </div>

</div>