<div class="row">
    <div class="col-3">
        <div class="row">
            <mat-form-field class='div-no-margin col-9' appearance="outline">
                <mat-label>Opd Group</mat-label>
                <input [id]="'opdGroup'" matInput [matAutocomplete]="auto" type="text" name="opdGroup"
                    [formControl]="opdGroupControl">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="opdGroupDisplayFn"
                    (optionSelected)="getOpdGroupData($event)">
                    <mat-option *ngFor="let item of filteredGroup|async " [value]="item">
                        {{item.groupName}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <div class="col-3 form-group-btn">
                <button [id]="'btnSave'" mat-flat-button type="submit" color="primary" class="btn-small float-right"
                    (click)="openOpdGroupDialog()">New</button>
            </div>
        </div>
        <mat-form-field class='div-no-margin col-12' appearance="outline">
            <mat-label>Opd Category</mat-label>
            <input [id]="'opdCategory'" matInput type="text" name="opdCategory" [formControl]="opdCategoryControl">
            <mat-autocomplete autoActiveFirstOption [displayWith]="opdCategoryDisplayFn"
                (optionSelected)="getOpdGroupData($event)">
                <mat-option *ngFor="let item of filteredCategory|async " [value]="item">
                    {{item.catName}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <ag-grid-angular id="opdCategoryGrid" class="ag-theme-balham" style="height:76vh;width:100%;"
            [gridOptions]="opdCategoryGridOption" (gridReady)="onGridReadyOpdCategory($event)">
        </ag-grid-angular>
    </div>
    <div class="col-9">
        <mat-form-field class='div-no-margin col-12' appearance="outline">
            <mat-label>Opd Service</mat-label>
            <input [id]="'opdService'" matInput type="text" name="opdService" [formControl]="opdServiceControl">
            <mat-autocomplete autoActiveFirstOption [displayWith]="opdServiceDisplayFn"
                (optionSelected)="getOpdGroupData($event)">
                <mat-option *ngFor="let item of filteredService|async " [value]="item">
                    {{item.serviceName}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <ag-grid-angular id="opdServiceGrid" class="ag-theme-balham" style="height:83.5vh;width:100%;"
            [gridOptions]="opdServiceGridOption" (gridReady)="onGridReadyOpdService($event)"
            (cellValueChanged)="changedCell($event)" [frameworkComponents]="frameworkComponentsCheckBox"
            (cellEditingStopped)="cellEditingStopped($event)">
        </ag-grid-angular>
    </div>
</div>