@import url('/src/assets/login-style.scss');

.btn-login{
  margin: 2px 2px 2px 0;
    height: 25px;
    line-height: 25px;
}

.title1{
  font-weight: bold;
  color: blue;
}

.title2{
  font-weight: bold;
  color: blue;
  /* color:rgb(252, 252, 0) */
}