<form #reactiveForm="ngForm" class="form" role="form" [formGroup]="paymentForm"
    (ngSubmit)="onSavePayment(paymentForm.value)" (keydown.enter)="handleEnter($event)">
    <div class="row">
        <mat-form-field class='div-no-margin col-12' appearance="outline">
            <mat-label>Payment Id</mat-label>
            <input [id]="'paymentId'" matInput type="text" name="paymentId" formControlName="paymentId"
                (keyup.enter)="focusElement('paymentId','description','text')">
        </mat-form-field>
        <mat-form-field class='div-no-margin col-12' appearance="outline">
            <mat-label>Payment Type</mat-label>
            <input [id]="'description'" matInput type="text" name="description" formControlName="description"
                (keyup.enter)="focusElement('description','btnSave','text')">
        </mat-form-field>
    </div>
    <div class="form-group-btn">
        <button mat-flat-button type="button" color="primary"  class="btn-small float-right" (click)="onClear()">Clear</button>
        <button mat-flat-button type="button" color="primary"  class="btn-small float-right" (click)="onNew()">New</button>
        <button [id]="'btnSave'" mat-flat-button type="submit" class="btn-small float-right" color="primary" [disabled]="!paymentForm.valid">
            {{ (paymentId=='') ? 'Add':'Save' }}
        </button>
        
    </div>
</form>