<table mat-table [dataSource]="dataSource" class="mat-elevation-z0 table table-borderless" style="width:100%">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>
            <span [style.paddingLeft.px]="40"> Name </span>
        </th>
        <td mat-cell *matCellDef="let data">
            <button mat-icon-button [style.visibility]="!data.expandable ? 'hidden' : ''"
                [style.marginLeft.px]="data.level * 10" (click)="treeControl.toggle(data)">
                <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(data) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
            </button>
            {{data.name}}
            <button mat-icon-button [style.visibility]="!data.expandable ? 'hidden' : ''"
            [style.marginLeft.px]="data.level * 10" (click)="addNewItem(data)"><mat-icon>add</mat-icon></button>
        </td>
    </ng-container>
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let data"> {{data.type}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="addNewItem(row)"></tr>
</table>

