<div class="table-container large">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="group">
            <th mat-header-cell class="td-text" *matHeaderCellDef="">Group</th>
            <td mat-cell *matCellDef="let element">{{element.groupName}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumn;sticky:true"></tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumn" (dblclick)="getGroupRow(row)"></tr>
    </table>
</div>