<div class="row">
    <form #reactiveForm="ngForm" class="form" [formGroup]="opdGroupForm" (ngSubmit)="saveOpdGroup(opdGroupForm.value)">
        <div class="row">
            <div class="col-12">
                <mat-form-field class='col-12' appearance="outline">
                    <mat-label>Group Name</mat-label>
                    <input [id]="'groupName'" matInput type="text" name="groupName" formControlName="groupName">
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field class='col-12' appearance="outline">
                    <mat-label>Location Id</mat-label>
                    <input [id]="'locationId'" matInput type="text" name="locationId" formControlName="locationId">
                </mat-form-field>
            </div>
        </div>
 
        <div class="example-button-row float-right">
            <button [id]="'btnSave'" mat-raised-button type="submit" color="primary"
                [disabled]="!opdGroupForm.valid">Save</button>
            <button mat-raised-button type="button" color="primary" >Clear</button>
        </div>
    </form>
</div>