<div class="row">
    <form [formGroup]="appointForm" class="form" (ngSubmit)="saveAppointment(appointForm.value)">
        <div class="row">
            <div class="col-12">
                <mat-form-field class='col-12' appearance="outline">
                    <mat-label>Registration-No</mat-label>
                    <input [id]="'regisNo'" matInput type="text" name="regisNo" formControlName="regisNo">
                </mat-form-field>
            </div>
            <div class="col-12 ">
                <mat-form-field class='col-12' appearance="outline">
                    <mat-label>Registration Date</mat-label>
                    <input [id]="'regisDate'" matInput [matDatepicker]="picker1" type="text" name="regisDate"
                        formControlName="regisDate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-12  ">
                <mat-form-field class='col-12' appearance="outline">
                    <mat-label>Name</mat-label>
                    <input [id]="'name'" matInput type="text" name="name" formControlName="name">
                </mat-form-field>
            </div>
            <div class="col-12 ">
                <mat-form-field class='col-12' appearance="outline">
                    <mat-label>Doctor</mat-label>
                    <input [id]="'doctor'" matInput [matAutocomplete]="auto" type="text" name="doctor"
                        formControlName="doctor">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="DocDisplayFn">
                        <mat-option *ngFor="let item of filteredDoc|async " [value]="item">
                            {{item.doctorName}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field class='col-12' appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input [id]="'ph'" matInput type="text" name="ph" formControlName="ph">
                </mat-form-field>
            </div>
        </div>
        <div class="example-button-row float-right">
            <button mat-raised-button type="submit" color="primary">Save</button>
            <button mat-raised-button type="button" color="primary">Clear</button>
        </div>
    </form>
</div>