<form #reactiveForm="ngForm" class="form" role="form" [formGroup]="doctorForm"
    (ngSubmit)="onSaveDoctor(doctorForm.value)">
    <div class="row">
        <mat-form-field class="div-no-margin col-12 col-lg-6" appearance="outline">
            <mat-label>Code</mat-label>
            <input matInput type="text" formControlName="doctorId">
        </mat-form-field>
        <mat-form-field class="div-no-margin col-12 col-lg-6" appearance="outline"
            hideRequiredMarker="hideRequiredMarker">
            <mat-label>Initial</mat-label>
            <input matInput [matAutocomplete]="auto" type="text" formControlName="initial">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="initialDisplayFn">
                <mat-option *ngFor="let item of initials" [value]="item">
                    {{item.initialName}}
                </mat-option>
            </mat-autocomplete>
            <button mat-icon-button type="button" matSuffix (click)="openInitial($event)">
                <mat-icon>more_horiz</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field class="div-no-margin col-12 col-lg-6" appearance="outline"
            hideRequiredMarker="hideRequiredMarker">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="doctorName">
        </mat-form-field>
        <mat-form-field class="div-no-margin col-12 col-lg-6" appearance="outline"
            hideRequiredMarker="hideRequiredMarker">
            <mat-label>Gender</mat-label>
            <input matInput [matAutocomplete]="auto1" type="text" formControlName="gender">
            <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete" [displayWith]="genderDisplayFn">
                <mat-option *ngFor="let item of genders" [value]="item">
                    {{item.description}}
                </mat-option>
            </mat-autocomplete>
            <button mat-icon-button type="button" matSuffix (click)="openGender($event)">
                <mat-icon>more_horiz</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field class="div-no-margin col-12 col-lg-6" appearance="outline">
            <mat-label>license No (optional)</mat-label>
            <input matInput type="text" formControlName="licenseNo">
        </mat-form-field>
        <mat-form-field class="div-no-margin col-12 col-lg-6" appearance="outline">
            <mat-label>Speciality</mat-label>
            <input matInput [matAutocomplete]="auto2" type="text" formControlName="speciality">
            <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete" [displayWith]="specialDisplayFn">
                <mat-option *ngFor="let item of specials" [value]="item">
                    {{item.desp}}
                </mat-option>
            </mat-autocomplete>
            <button mat-icon-button matSuffix type="button" (click)="openSpeciality($event)">
                <mat-icon>more_horiz</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field class="div-no-margin col-12 col-lg-6" appearance="outline"
            hideRequiredMarker="hideRequiredMarker">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
                <mat-option *ngFor="let item of type" [value]="item.description">
                    {{item.description}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="form-group-btn col-12 ">
        <mat-checkbox class="col-2" formControlName="active" name="active" color="primary">Active
        </mat-checkbox>
        <button mat-flat-button type="button" color="primary" class="btn-small float-right">Clear</button>
        <button mat-flat-button type="submit" color="primary" class="btn-small float-right">Save</button>
        <!-- [disabled]="!doctorForm.valid" -->
    </div>
    <div class="row mt-2">
        <ag-grid-angular #opdFeeGrid class="ag-theme-balham mb-1" style="width:100%;height:15.5vh"
            [gridOptions]="opdFeeGridOption" [frameworkComponents]="frameworkComponents"
            (gridReady)="onGridOptionReadyOpdFee($event)" (cellEditingStopped)="cellEditingStopped($event)">
        </ag-grid-angular>
        <ag-grid-angular #otFeeGrid class="ag-theme-balham mb-1" style="width:100%;height:15.5vh"
            [gridOptions]="otFeeGridOption" [frameworkComponents]="frameworkComponents"
            (gridReady)="onGridOptionReadyOtFee($event)">
        </ag-grid-angular>
        <ag-grid-angular #dcFeeGrid class="ag-theme-balham" style="width:100%;height:15.5vh"
            [gridOptions]="dcFeeGridOption" [frameworkComponents]="frameworkComponents"
            (gridReady)="onGridOptionReadyDcFee($event)">
        </ag-grid-angular>
    </div>
</form>