<div class="row mb-2">
    <div class="row col-6">
        <div class="col-3 group-text-field-left">
            <mat-form-field class="col-12" appearance="outline" disabled>
                <mat-label>Visit No</mat-label>
                <input matInput type="text" name="fromDate" value="BK1234567890123" [(ngModel)]="bookingId">
            </mat-form-field>
        </div>
        <div class=" col-2 group-text-field-left">
            <mat-form-field class="col-12" appearance="outline">
                <mat-label>Visit Date</mat-label>
                <input matInput type="text" name="fromDate" value="03/05/2023" [(ngModel)]="bookingDate">
            </mat-form-field>
        </div>
        <div class=" col-2 group-text-field-left">
            <mat-form-field class="col-12" appearance="outline">
                <mat-label>Reg No</mat-label>
                <input matInput type="text" name="fromDate" value="123652023" [(ngModel)]="regNo">
            </mat-form-field>
        </div>
        <div class=" col-2 group-text-field-left">
            <mat-form-field class="col-12" appearance="outline">
                <mat-label>Adm No</mat-label>
                <input matInput type="text" name="fromDate" value="123652023">
            </mat-form-field>
        </div>
        <div class=" col-3 group-text-field-left">
            <mat-form-field class="col-12" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput type="text" name="fromDate" value="U Kaung Myaint Kyaw" [(ngModel)]="patientName">
            </mat-form-field>
        </div>
    </div>

    <div class="row col-6  float-right">
        <div class="col-2">
            <span class="example-spacer"></span>
        </div>
        <div class="col-2 group-text-field-right ">
            <mat-form-field class="col-12" appearance="outline">
                <mat-label>Total Reg</mat-label>
                <input matInput type="text" name="fromDate" value="0">
            </mat-form-field>
        </div>
        <div class="col-1 group-text-field-right ">
            <mat-form-field class="col-12" appearance="outline">
                <mat-label>W/L</mat-label>
                <input matInput type="text" name="fromDate" value="0">
            </mat-form-field>
        </div>
        <div class="col-1 group-text-field-right">
            <mat-form-field class="col-12" appearance="outline">
                <mat-label>CL</mat-label>
                <input matInput type="text" name="fromDate" value="0">
            </mat-form-field>
        </div>
        <div class="col-6 example-button-row float-right">
            <span class="example-spacer "></span>
            <button mat-raised-button type="submit" color="primary" (click)="searchPatient()">Patients</button>
            <button mat-raised-button type="submit" color="primary">Current</button>
            <button mat-raised-button type="submit" color="primary">Break</button>
            <button mat-raised-button type="submit" color="primary" (click)="saveMedHistory()">Save</button>
        </div>
    </div>
</div>

<div class="d-flex flex-row">
    <div class="col-3">
        <div class="row">
            <mat-label class="col-6">Temp : {{temp}}</mat-label>
            <mat-label class="col-6">Bp : {{bp}}</mat-label>


        </div>
    </div>
    <div class="flex-fill">
        <div class="row">
            <div class="col-2">
                <p class="pt-2">Treatment</p>
            </div>
            <div class="col-2">
                <mat-form-field class="col-12">
                    <mat-label>CF Fee</mat-label>
                    <input matInput type="text" name="fromDate" value="0">
                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-form-field class="col-12">
                    <mat-label>CF Type</mat-label>
                    <input matInput type="text" name="fromDate" value="0">
                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-form-field class="col-12">
                    <mat-label>Days</mat-label>
                    <input matInput type="text" name="fromDate" value="0">
                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-form-field class="col-12">
                    <mat-label>Re-Visit Date</mat-label>
                    <input matInput [matDatepicker]="picker1" [(ngModel)]="reVisitDate" name="fromDate" onfocus="this.select()">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="col-3">
        <p class="pt-2">Note</p>
    </div>
</div>

<div class="col-12 row">
    <div class="col-3">
        <ag-grid-angular id="examinationGrid" class="ag-theme-balham" style="height:60vh;width:100%;"
            [gridOptions]="examinationGridOption" (gridReady)="onGriReadyExamination($event)"
            [frameworkComponents]="frameworkComponents" (cellEditingStopped)="cellEditingStopped($event)">
        </ag-grid-angular>
    </div>
    <div class="col-6">
        <ag-grid-angular id="treatmentGrid" class="ag-theme-balham" style="height:60vh;width:100%;"
            [gridOptions]="treatmentGridOption" (gridReady)="onGridReadyTreatment($event)"
            [frameworkComponents]="frameworkComponents" (cellEditingStopped)="cellEditingStopped($event)">
            <!-- (cellEditingStopped)="cellEditingStopped($event)" -->
        </ag-grid-angular>
    </div>
    <div class="col-3">
        <div class="row">
            <div class="col-12">
                <mat-form-field class='col-12'>
                    <mat-label>Note</mat-label>
                    <textarea style="height:15vh" matInput placeholder="Ex. It makes me feel..."
                        name="address"></textarea>
                </mat-form-field>
            </div>
            <div class="col-12">
                <ag-grid-angular id="noteGrid" class="ag-theme-balham" style="height:40vh;width:100%;"
                    [gridOptions]="noteGridOption" (gridReady)="onGridReadyNote($event)" (cellEditingStopped)="cellEditingStopped($event)">
                </ag-grid-angular>
            </div>
        </div>
    </div>
</div>

<!-- (cellEditingStarted)="cellEditingStarted($event)" (cellEditingStopped)="cellEditingStopped($event)" -->