<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>{{title}}</h1>
<form [formGroup]="appointForm" (ngSubmit)="searchAppointment(appointForm.value)">
    <div mat-dialog-content>
        <div class="row ">
            <div class="col-12 col-lg-6">
                <mat-form-field class="col-12" appearance="outline">
                    <mat-label>From Date</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="fromDate" name="fromDate"
                        onfocus="this.select()">
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error *ngIf="!appointForm.value.fromDate">Please Enter From Date</mat-error>
                </mat-form-field>

            </div>
            <div class="col-12 col-lg-6">
                <mat-form-field class="col-12" appearance="outline">
                    <mat-label>To Date</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="toDate" name="toDate"
                        onfocus="this.select()">
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <mat-error *ngIf="!appointForm.value.fromDate">Please To To Date</mat-error>
                </mat-form-field>
            </div>
            <div class="col-12 col-lg-6">
                <mat-form-field class="col-12" appearance="outline">
                    <mat-label>Registration-No</mat-label>
                    <input [id]="'regisNo'" matInput type="text" name="regNo" formControlName="regNo">
                </mat-form-field>
            </div>
            <div class="col-12 col-lg-6">
                <mat-form-field class='col-12' appearance="outline">
                    <mat-label>Doctor</mat-label>
                    <input [id]="'doctor'" matInput [matAutocomplete]="auto" type="text" name="doctor"
                        formControlName="doctor">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="DocDisplayFn">
                        <mat-option *ngFor="let item of filteredDoc|async " [value]="item">
                            {{item.doctorName}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div mat-dialog-actions align="end">
        <div class=example-button-row>
            <button class="delete-button " type="submit" color="primary" mat-raised-button
                [disabled]="!appointForm.valid">
                Search
            </button>
            <button class="" mat-raised-button type="button" mat-dialog-close>Close</button>

        </div>
    </div>
</form>