<div class="row">
    <div class="container-list large">
        <app-appointment-history></app-appointment-history>
    </div>
    <div class="container-setup extra-small" *ngIf="!isMobile">
        <app-appointment-registration></app-appointment-registration>

        <!-- <div class="card card-border pt-3 pb-3">
            
        </div> -->
        <!-- <div class="card border-light">
            <div class="card-header"></div>
            <div class="card-body">
            </div>
        </div> -->


    </div>
</div>