<div class="row">
    <div class="form-group-btn">
        <button mat-flat-button class="btn-small float-right" color="primary" (click)="searchBooking()"> Filter</button>
    </div>
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="reg">
                <th class="td-text" mat-header-cell *matHeaderCellDef mat-sort-header>Reg No </th>
                <td class="td-text" mat-cell *matCellDef="let element; let i = index">{{element.regNo}}</td>
            </ng-container>
            <ng-container matColumnDef="adm">
                <th class="td-text" mat-header-cell *matHeaderCellDef mat-sort-header>Adm No </th>
                <td class="td-text" mat-cell *matCellDef="let element">{{element.admNo}}</td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th class="td-text" mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td class="td-text" mat-cell *matCellDef="let element">{{element.patientName}}</td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th class="td-text" mat-header-cell *matHeaderCellDef mat-sort-header>VisitDate</th>
                <td class="td-text" mat-cell *matCellDef="let element">{{element.bkDate|date:'dd/MM/yyyy'}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns" (dblclick)="getRowData(row)"></tr>
        </table>
    </div>
</div>