<div class="row">
    <mat-form-field class="div-no-margin col-12 col-lg-10" appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput type="text" name="fromDate" (keyup)="applyFilter($event)">
    </mat-form-field>
    <div class="col-12 col-lg-2 form-btn-group ">
        <button mat-flat-button color="primary" type="button" class="col-12 col-lg-5 btn-small float-right" (click)="SSETest()">
            Print</button>
        <button mat-flat-button color="primary" type="button" class="col-12 col-lg-5 btn-small  float-right"
            (click)="searchBooking()">
            Filter</button>
    </div>
</div>
<div class="table-container large">
    <table mat-table role="table" [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="no" class="position-column">
            <th mat-header-cell class="td-number position-column" *matHeaderCellDef>No</th>
            <td mat-cell class="td-number position-column" *matCellDef="let i=index">{{i+1}}</td>
        </ng-container>
        <ng-container matColumnDef="date">
            <th mat-header-cell class="td-text" *matHeaderCellDef>Date</th>
            <td mat-cell class="td-text" *matCellDef="let element">{{element.bkDate|date:'dd/MM/yyyy '}}</td>
        </ng-container>
        <ng-container matColumnDef="regno">
            <th mat-header-cell class="td-text" *matHeaderCellDef>Reg No</th>
            <td mat-cell class="td-text" *matCellDef="let element">{{element.regNo}}</td>
        </ng-container>
        <ng-container matColumnDef="patient">
            <th mat-header-cell class="td-text" *matHeaderCellDef mat-sort-header>Patient</th>
            <td mat-cell class="td-text" *matCellDef="let element">{{element.patientName}}</td>
        </ng-container>
        <ng-container matColumnDef="doctor">
            <th mat-header-cell class="td-text column-doc" *matHeaderCellDef mat-sort-header>Doctor</th>
            <td mat-cell class="td-text" *matCellDef="let element">{{element.doctorName}}</td>
        </ng-container>
        <ng-container matColumnDef="phone">
            <th mat-header-cell class="td-text" *matHeaderCellDef>Phone No</th>
            <td mat-cell class="td-text" *matCellDef="let element">{{element.bkPhone}}</td>
        </ng-container>
        <ng-container matColumnDef="serialno">
            <th mat-header-cell class="td-number" *matHeaderCellDef="">Serial</th>
            <td mat-cell class="td-number" *matCellDef="let element">{{element.bkSerialNo}}</td>
        </ng-container>
        <ng-container matColumnDef="wl">
            <th mat-header-cell class="td-text" *matHeaderCellDef="">Status</th>
            <td mat-cell class="td-text" *matCellDef="let element">{{element.bstatus}}</td>
        </ng-container>
        <ng-container matColumnDef="reg">
            <th mat-header-cell class="td-text action-column" *matHeaderCellDef="">Action</th>
            <td mat-cell class="td-text action-column" *matCellDef="let element">
                <div class="table-btn-group">
                    <button mat-flat-button color="primary" class=" btn-small btn-table "
                        *ngIf="element.statusLevel==3 && !element.regNo" (click)="registerBooking(element)">
                        Register
                    </button>
                    <button mat-flat-button color="primary" class=" btn-small btn-table "
                        *ngIf="(element.statusLevel<4 &&!(element.statusLevel==3 && !element.regNo))"
                        (click)="confirmBooking(element)">
                        {{element|bookingStatus}}
                    </button>
                    <button mat-flat-button color="warn" class=" btn-small btn-table " *ngIf="element.statusLevel<=5 ">
                        Cancel
                    </button>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumn;sticky:true"></tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumn"></tr>
    </table>
</div>