<div class="table-container">
    <table class="table" mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="position">
            <th mat-header-cell class="td-number" *matHeaderCellDef="">No</th>
            <td mat mat-cell class="td-number" *matCellDef="let element;let i=index">{{i+1}}</td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell class="td-text" *matHeaderCellDef="">Description</th>
            <td mat mat-cell class="td-text" *matCellDef="let element">{{element.groupName}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumn;sticky:true"></tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumn"></tr>
    </table>
</div>