<div class="table-container">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="position">
            <th mat-header-cell class="td-number" *matHeaderCellDef="">No</th>
            <td mat-cell class="td-number" *matCellDef="let element;let i=index">{{i+1}}</td>
        </ng-container>
        <ng-container matColumnDef="desc">
            <th mat-header-cell class="td-text" *matHeaderCellDef="">Description</th>
            <td mat-cell class="td-text" *matCellDef="let element">{{element.description}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumn;sticky:true"></tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumn" (dblclick)="getRowData(row)"></tr>
    </table>
</div>