<div class="row">
    <div class="row">
        <div class="col-12">
            <div class="example-button-row">
                <button mat-flat-button class="" color="primary" (click)="searchBooking()"> Filter</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 mb-2">
            <mat-label>Session:</mat-label><mat-label>0010005</mat-label>
        </div>
        <div class="col-12">
            <mat-form-field class="col-12">
                <mat-label>Doctor</mat-label>
                <input [id]="'doctor'" matInput [matAutocomplete]="auto" type="text" name="doctor"
                    [formControl]="docControl">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="DocDisplayFn"  (optionSelected)="getDoctorData($event)">
                    <mat-option *ngFor="let item of filteredDoc|async" [value]="item">
                        {{item.doctorName}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        
    </div>
    <div class="row mb-2">
        <div class="col-4">
            <mat-label>Total Reg: </mat-label>
            <mat-label>0</mat-label>

        </div>
        <div class="col-4">
            <mat-label>WL: </mat-label>
            <mat-label>0</mat-label>
        </div>
        <div class="col-4">
            <mat-label>CL: </mat-label>
            <mat-label>0</mat-label>
        </div>
    </div>
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No </th>
                <td class="td-number" mat-cell *matCellDef="let element; let i = index">{{i+1}}</td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td class="td-text" mat-cell *matCellDef="let element">{{element.patientName}}</td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell class="td-object" *matCellDef="let element">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" class="register-btn"
                            (click)="consultPatient(element)">Consult</button>

                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
        </table>
    </div>
    <div class="">
        <button class="form-btn" mat-flat-button color="primary">Break</button>
    </div>
</div>