<div class="row">
    <div class="classContainer  mat-elevation-z0">
        <div class="table table-container">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z0 ">
                <ng-container matColumnDef="name">
                    <th mat-header-cell mat-header-cell *matHeaderCellDef class="td-text"> Name </th>
                    <td mat-cell mat-cell *matCellDef="let element" class="td-text"> {{element.roleName}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumn;sticky:true"></tr>
                <tr mat-row *matRowDef="let row;columns:displayedColumn" (click)="onRowClicked(row)"></tr>
            </table>
        </div>
    </div>
    <div class="container card mat-elevation-z0">
        <mat-tab-group class="table-container">
            <mat-tab label="System Property">
                System Property
            </mat-tab>
            <mat-tab label="Role">
                <app-role-menu-tree></app-role-menu-tree>
            </mat-tab>
            <mat-tab label="New Features">
                Coming Soon
            </mat-tab>
        </mat-tab-group>
    </div>
</div>