<mat-card class="row">
    <mat-card-title>
        <h4 class="mb-3 mt-3 f-w-400">User List</h4>
    </mat-card-title>
    <mat-card-content class="col-md-12">
        <div class="classContainer card mat-elevation-z0">
            <mat-table [dataSource]="dataSource" class="mat-elevation-z0 "  >
                <ng-container matColumnDef="name">
                    <mat-header-cell mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                    <mat-cell mat-cell *matCellDef="let element"> {{element.roleName}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumn"></mat-header-row>
                <mat-row matRipple *matRowDef="let row; columns: displayedColumn;" (click)="onRowClicked(row)">
                </mat-row>
            </mat-table>
        </div>
        <div class="container card mat-elevation-z0">
            <mat-tab-group>
                <mat-tab label="System Property">
                    System Property
                </mat-tab>
                <mat-tab label="Role">
                    <app-role-menu-tree></app-role-menu-tree>
                </mat-tab>
                <mat-tab label="New Features">
                    Coming Soon
                </mat-tab>
            </mat-tab-group>
        </div>


    </mat-card-content>
</mat-card>