.btn-small {
  margin-left: 5%;
  padding: 0 3px 0 3px;
  width: min-content;
  min-width: 25px;
  height: 26px;
  line-height: 25px !important;
}

.btn-table.btn-small {
  margin: 1px 1px !important;
  padding: 0% !important;
}

.form-btn-group {
  display: block;
}

div.form-btn-group.search {
  padding-left: 0%;
}

.table-btn-group {
  display: inline-flex;
  width: 100%;
}

.btn-table {
  width: min-content;
  padding: auto;
}

.mat-raised-button.mat-primary,
.mat-flat-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  color: #f0fff3;
  background-color: #03A9F4;
}

.mat-flat-button.mat-primary {
  margin: 2px 2px 2px 0;
}

/* .mat-button.mat-primary,
.mat-stroked-button.mat-primary {
  color: #03A9F4;
}

.mat-button.mat-primary:hover,
.mat-stroked-button.mat-primary:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-primary,
.mat-flat-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  color: #f0fff3;
  background-color: #03A9F4;
}

.mat-icon-button.mat-primary {
  color: #03A9F4;
}


.button-row {
  display: table-cell;
  max-width: 600px;
}

.button-row .mat-raised-button {
  margin: 8px 8px 8px 0 !important;
  height: 25px;
  line-height: 25px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-flat-button,
.example-button-row .mat-raised-button,.example-button-row .mat-icon-button {
  margin: 8px 8px 8px 0;
  height: 25px;
  line-height: 25px;
} */