.group-text-field-left {
    margin-left: 1px;
    padding:0px 0px 0px 2px;
}

.group-first-text-field-left {
    margin-left: 1px;
    /* padding:0px 0px 0px 0px; */
    padding-right: 0;
}


